body {
    margin: 0px;
    width: 100%;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.storename {
    background-color: #202024;
    width: 100%;
    height: 45px;
    margin-top: 0px;
    text-align: center;
}


.storename img {
    width: 33px;
    display: inline;
    position: absolute;
    left: 0px;
}

@media only screen and (max-width: 280px) {
    .storename img {
        display: none;
    }
    
}

.storename h1 {
    margin: 0px;
    display: inline;
}

.storename a {
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    text-decoration: underline 1px #cfcfd3;
}

nav {
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #202024;
}



nav ul {
    padding-left: 0px;
    word-spacing: 20px;
}

nav li {
    display: inline-block;
}

.mainpage {
    width: 100%;
    height: 300px;
    background-image: url(./images/mainpage.jpg);
    background-size: cover;
    position: relative;
}

header p {
    text-align: center;
    padding: 3px;
    margin-top: 0px;
    background-color: #b8b8b8b0;
    color: #020202;
}

.mainbestsellers {
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    align-content: center;
    box-sizing: border-box;
}

@media only screen and (min-width: 650px) {
    .mainbestsellers {
        width: 640px;
    }
}

@media only screen and (min-width: 768px) {
    .mainbestsellers {
        width: 760px;
    }
    
}

@media only screen and (min-width: 1200px) {
    .mainbestsellers {
        width: 1100px;
    }
    
}

.mainbestsellers h2 {
    text-align: center;
    margin-top: 30px;
}

.sku {
    width: 90%;
    height: 340px;
    margin: 0 auto;
    margin-top: 40px;
    box-sizing: border-box;
    position: relative;
    border: 1px solid #dcd6d6;
    

}

@media only screen and (min-width: 650px) {
    .sku {
        width: 310px;
        display: inline-block;
    }
}

@media only screen and (min-width: 768px) {
    .sku  {
        width: 320.5px;
        display: inline-block;
        margin-left: 40px;
    }
    
}


.sku:hover {
    box-shadow: #dcd6d6 2px 2px 2px;
}

.skuimg img {
    
    width: 190px;
    position: absolute;
    margin: 0 auto;
    margin-top: 10px;
}

.skuimg {
    
    width: 190px;
    margin: 0 auto;
}

.skuname {
    
    width: 100%;
    position: absolute;
    bottom: 35px;
    text-align: center;
}

.skuprice {
   
    width: 50%;
    position: absolute;
    bottom: 5px;
    text-align: center; 
    
}

.buy {
    
    width: 50%;
    position: absolute;
    bottom: 5px;
    right: 0px;
    text-align: center;    
}

.buybutton {
    border: none;
    height: 27px;
    background-color: #cfcfd3;
    border-radius: 15px;
   
}

.footer {
    text-align: center;
    background-color: #202024;
    color: #cfcfd3;
    margin-top: 30px;
}


.footer ul {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

footer a {
    text-decoration: none;
    color: #cfcfd3;
}
