


body {
    margin: 0px;
    font-family: 'Play', sans-serif;
    background-color: #141414;
}



.mainnav {
    background-color: #141414;
    position: relative;
    height: 180px;
}


.mainnav a {
    text-transform: uppercase;
    color: #4af02f;
    font-size: 35px;
    text-decoration: none;
}

.mainnav h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 35px;
    color: #d5cdcd;

}

.mainlogo {
    position: absolute;
    top: 0px;
}

.mainnav a:hover {
    text-decoration: underline;
}

.navmouse {
    position: absolute;
    bottom: 12px;
    right: 76%;
}


.navkeyboard {
    position: absolute;
    bottom: 12px;
    right: 54%;
}


.navheadphone {
    position: absolute;
    bottom: 12px;
    right: 32%;
}


.navmousepad {
    position: absolute;
    bottom: 12px;
    right: 12%;
}

.mainpage {
    width: 100%;
    height: 50vh;
    background-image: url(./images/indexbg.jpeg);
    background-position: center;
    position: relative;
    border-top: #4af02f 1px solid;
    border-bottom: #9e9e9e 1px solid;
}



.maininfo {
    background-color: #141414;
    border-bottom: #9e9e9e 1px solid;
}

.maininfo h2 {
    text-align: center;
    margin: 0px;
    color: #d5cdcd;
}

.maininfo p {
    color: #d5cdcd;
    text-align: justify;
    font-size: 20px;
    padding: 10px;
}


footer {
    max-height: 50px;
    bottom: 0px;
    background-color: #141414;

}

footer ul {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #9e9e9e;
    list-style-position: inside;
    text-align: center;
}

.storepage {
    background-color: #141414;
    border-top: #4af02f 1px solid;
    position: relative;
    padding-top: 20px;
}

.mousestore {
    background-color: #141414;
    width: 100%;
    margin: 20px 5%;
}

.mousestore img {
width: 350px;
}

.storedisplay {
    display: inline-block;
    position: relative;
    width: 350px;
    height: 380px;
    margin: 40px 100px;
    background-color: #141414;
    
} 

.storedisplay:hover {
    box-shadow:  0.5px -0.5px 0.5px #4af02f,  -0.5px 0.5px 0.5px #4af02f;;

} 

.productname {
    height: 30px;
    margin-bottom: 20px;
    color: #9e9e9e;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.price {
    width: 250px;
    height: 30px;
    display: inline-block;
    color: #9e9e9e;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

.buybutton {
    width: 100px;
    height: 30px;
    display: inline-block;
    position: absolute;
    bottom: 35px;
    right: 45px;

}

.button {
    width: 95px;
    height: 30px;
    background-color: #4af02f;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 15px;
    border: none;

}

.button:hover {
    cursor: pointer;
    box-shadow:  0.5px -1px 0.5px #4af02f;
    text-decoration: underline;
}